In [1]:
import pandas as pd
import numpy as np

In [2]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
## Create X (Features Matrix)
X=heart_disease.drop("target",axis=1)

##Create Y ( label Matrix)

Y=heart_disease["target"]

In [4]:
# make a prediction 
y_preds=clf.predict(X_test)
y_preds

NameError: name 'clf' is not defined

In [ ]:
# 4. Evaluate the Model on Training Data and Test Data 
clf.score(X_train,Y_train)

In [ ]:
clf.score(X_test,Y_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [ ]:
print(classification_report(Y_test,y_preds))

In [ ]:
confusion_matrix(Y_test,y_preds)

In [ ]:
accuracy_score(Y_test,y_preds)

In [ ]:
## Improve our Model 
 ## Try different set of n_estimators
import numpy as np
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease
X=heart_disease.drop("target",axis=1)

##Create Y ( label Matrix)

Y=heart_disease["target"]
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
clf.fit(X_train,Y_train);

np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model with {i} n_estimators")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Test accuracy on model data : {clf.score(X_test,Y_test)*100:.2f}%") 

    # Save model 
    import pickle
    pickle.dump(clf, open("random_forest_model1","wb"))

In [5]:
loaded_model=pickle.load(open("random_forest_model1","rb"))
loaded_model.score(X_test,Y_test)

NameError: name 'pickle' is not defined