## Getting Data Ready with machine learing
1. Split the Data into Features and Labels( usually X's and Y's)

2. Filling (also called imputing) or disregarding missing values.

3. Convert non numerical values into numerical values( Feature modeling)

In [31]:
## Import all libraries, datasets and functions ,global variables
import numpy as np
import pandas as pd 
import matplotlib as plt
from sklearn.model_selection import train_test_split
## Building Machine Learning Model 
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
## Loading Data Sets 
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease
X=heart_disease.drop("target",axis=1)
Y=heart_disease["target"]

## Split the Data into Training and Test sets 

X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2)

Y.head()
##------------------------------------CONVERTING NON NUMERICAL DATA INTO NUMERICAL-----------------------------------------------------------------------
# Car sales Data
car_sales=pd.read_csv("car-sales-extended.csv")

## Spliiting Features into A & B
A=car_sales.drop("Price", axis=1)
B=car_sales["Price"]
A_train,A_test,B_train,B_test=train_test_split(A,B,test_size=0.2)

In [37]:
## Transforming Non Numerical Data into Numerical Values 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=["Make","Colour","Doors"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")
transformed_A=transformer.fit_transform(A)
##transformed_A
pd.DataFrame(transformed_A)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [42]:
# Fit the Model 
np.random.seed(42)
A_train,A_test,B_train,B_test=train_test_split(transformed_A,B,test_size=0.2)
model.fit(A_train,B_train)
model.score(A_test,B_test)

0.3235867221569877