## SERIES

In [1]:
import pandas as pd

In [2]:
## creating Series from a list 
ice_cream=["Choclate","Vanilla","Strawberry","Rum Raisin"]
pd.Series(ice_cream)

0      Choclate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery_numbers=[2,4,5,6]
pd.Series(lottery_numbers)

0    2
1    4
2    5
3    6
dtype: int64

In [4]:
## creating Series from Dictionary
fruits={
    "Mandrin":"Orange",
    "Apple":"Red",
    "Gauva":"Green"
}
fruits

{'Mandrin': 'Orange', 'Apple': 'Red', 'Gauva': 'Green'}

In [14]:
pokemon_data=pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_data

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]